<!-- {/* <Form.Group as={Col} xs="6" className="my-2">
    <Form.Label>Niveau</Form.Label>
    <Form.Select
      name="niveau"
      aria-label="Floating label select example"
    >
      <option value="padawan">Padawan</option>
      <option value="jedi">Jedi</option>
      <option value="maitre">Maître</option>
    </Form.Select>
  </Form.Group>
  <Form.Group as={Col} xs="12" className="my-2">
    <Form.Label>Description</Form.Label>
    <Form.Control
      value={values.description}
      onChange={handleChange}
      onBlur={handleBlur}
      as="textarea"
      name="description"
    />
  </Form.Group>
  <Form.Group as={Col} xs="6" className="my-2">
    <Form.Label>Nombre de personnes</Form.Label>
    <Form.Control
      value={values.personnes}
      onChange={handleChange}
      onBlur={handleBlur}
      type="number"
      name="personnes"
    />
  </Form.Group>
  <Form.Group as={Col} xs="6" className="my-2">
    <Form.Label>Temps de préparation (min)</Form.Label>
    <Form.Control
      value={values.tempsPreparation}
      onChange={handleChange}
      onBlur={handleBlur}
      type="number"
      name="tempsPreparation"
    />
  </Form.Group>
  <Form.Group as={Col} xs="12" className="my-2">
    <Form.Label>Ingrédients</Form.Label>
    <Form.Control
      value={values.ingredients}
      onChange={handleChange}
      onBlur={handleBlur}
      type="text"
      name="ingredients"
    />
  </Form.Group>
  <Form.Group as={Col} xs="12" className="my-2">
    <Form.Label>Étapes</Form.Label>
    <Form.Control
      value={values.etapes}
      onChange={handleChange}
      onBlur={handleBlur}
      as="textarea"
      name="etapes"
    />
  </Form.Group> */} -->